.wrapper {
    width: 1440px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
}
.header__top {
}
.logo {
}
.header__top-nav {
}
.dropdown {
}
.dropbtn {
}
.dropdown-content {
}
.vert-line {
}
.xbox {
}
.steam {
}





.main {
}
.footer {
}